.draftContent__title{
  text-align: left;
  width: 100%;
  letter-spacing: -0.016em;
  line-height: 40px;
  font-size: 32px;
  font-weight: 700;
  color: rgba(41, 41, 41, 1);
}

.draftContent__text{
  letter-spacing: -0.003em;
  line-height: 32px;
  margin-top: 2em;
  font-size: 20px;
  color: rgba(41, 41, 41, 1);
}